@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

.p-recommendation {
    padding: 0 2%;
    margin: 0 auto;
    background-color: v.$color-main;
    @include m.md {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding-bottom: 240px;

        
    }

    &__content {
        padding-top: 30px;
        margin-top: 20px;
        @include m.md {
            margin: -170px 2%;
            padding: 0 5px;
            width: 30%;
        }
        @include m.lg {
            width: 250px;
            margin: -200px 40px;
        }
    }

    &__title {
        text-align: center;

        p {
            color: v.$color-base;
            font-size: 2.4rem;
            font-weight: bold;
            padding: 10px 0;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 230px;
        height: 230px;
        background-color: v.$color-base;
        border: 6px solid v.$color-main;
        border-radius: 50%;

        .fa-dumbbell {
            font-family: "Font Awesome 5 Free";
            content: '\f44b';
            font-weight: 600;
            font-size: 100px;
            color: black;

        }
        .fa-chalkboard-teacher {
            font-family: "Font Awesome 5 Free";
            content: '\f51c';
            font-weight: 600;
            font-size: 100px;
            color: black;

        }
        .fa-life-ring {
            font-family: "Font Awesome 5 Free";
            content: '\f1cd';
            font-weight: 600;
            font-size: 100px;
            color: black;

        }
    }

    &__body {
        font-weight: bold;
        color: v.$color-base;
        display: flex;
        justify-content: center;
    }

}