@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

input[type="checkbox"]{
    position: absolute;
    left: -50vw;
}

.c-button {
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    height: 50px;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    
}
@include m.md {
    .c-button {
        font-size: 34px;
        width: 130px;
        height: 90px;
    }
}
@include m.lg {
    .c-button {
        display: none;
    }
}